@font-face {
	font-family: 'faith_collapsingregular';
	src: url(/assets/fonts/faith_collapsingregular-b8ad89299ea98f7bdfbcef26025eaa56.woff2?h=6994a3f44ddc4a31fcc9b11c6aa1337d) format('woff2'),
	url(/assets/fonts/faith_collapsingregular-965eea572556c1b4aa4c1aee4c05df8a.woff?h=6994a3f44ddc4a31fcc9b11c6aa1337d) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}